
#Base Settings
#基础设置
[base]

	#Common Settings
	#通用配置
	[base.common]
		#The header content of the help command.
		#帮助指令信息头部内容。
		helpHeader = "-----==== Aotake Sweep Help (%d/%d) ====-----"
		#The number of help information displayed per page.
		#每页显示的帮助信息数量。
		#Range: 1 ~ 9999
		helpInfoNumPerPage = 5
		#The default language of the server.
		#服务器默认语言。
		defaultLanguage = "en_us"

	#Regularly Sweep
	#定时清理
	[base.sweep]
		#The interval of sweeping (in milliseconds).
		#扫地间隔(毫秒)。
		#Range: 0 ~ 604800000
		sweepInterval = 600000
		#The entity list, the following entities will be cleaned up according to the entityListMode.
		#实体名单，与配置 entityListMode 共同决定列表中的实体是否清理。
		entityList = ["minecraft:arrow", "minecraft:spectral_arrow", "tick, clazz, itemClazz = 'net.minecraft.entity.item.ItemEntity', createProcessing = CreateData.Processing.Time -> tick >= 5 && clazz :> itemClazz && (createProcessing <= 0 || createProcessing == null)"]
		#The application mode of the entity list:
		#BLACK: Blacklist, only the entities listed will be cleaned up;
		#WHITE: Whitelist, all entities except those listed will be cleaned up.
		#实体名单应用模式：
		#BLACK：黑名单，仅会清理列表中列出的实体；
		#WHITE：白名单，将会清理列表中未列出的所有实体。
		entityListMode = "BLACK"
		#Even if an entity is on the whitelist or not on the blacklist, it will still be removed if the total number of that entity type on the server exceeds the specified limit.
		#即使是白名单内的实体，或不是黑名单中的实体，该实体类型只要在服务器中数量超过指定上限，也会被清理。
		#Range: > 1
		entityListLimit = 250
		#The entity redlist for cleaning up items, the following items will only be cleaned and not recycled.
		#实体清理红名单，以下实体将只会被清理而不会被回收。
		entityRedlist = []

	#Chunk Check
	#区块实体过多检测
	[base.chunk]
		#The interval for detecting excessive entities in a chunk (in milliseconds), 0 to disable.
		#区块实体过多检测间隔(毫秒)，0为禁用。
		#Range: 0 ~ 604800000
		chunkCheckInterval = 5000
		#The threshold for detecting excessive entities in a chunk.
		#区块实体过多检测阈值。
		#Range: > 1
		chunkCheckLimit = 250
		#The ratio of entities to retain during entity overload cleanup in a chunk. 
		#By default, half of the detection threshold is retained to prevent excessive loss from clearing everything. 
		#The retention behavior is affected by chunkCheckMode.
		#区块实体过多检测清理时保留的实体比例，默认保留检测阈值的一半，避免全部清理而导致损失过大，保留方式受chunkCheckMode影响。
		#Range: 0.0 ~ 1.0
		chunkCheckRetain = 0.5
		#Show warning when too many entities in a chunk.
		#区块内实体过多时的是否进行提示。
		chunkCheckNotice = true
		#The check mode for detecting excessive entities in a chunk:
		#DEFAULT: Cleanup is triggered when the total number of entities in the chunk exceeds the threshold;
		#ADVANCED: Cleanup is triggered when a specific type of entity in the chunk exceeds the threshold.
		#区块内实体过多检测模式：
		#DEFAULT：区块内所有实体超过阈值触发清理；
		#ADVANCED：区块内某个类型实体超过阈值触发清理。
		chunkCheckMode = "DEFAULT"
		#The entity list of chunk check, the following entities will be cleaned up according to the chunkCheckEntityListMode.
		#区块检测实体名单，与配置 chunkCheckEntityListMode 共同决定列表中的实体是否清理。
		chunkCheckEntityList = ["customName, hasOwner, createProcessing = CreateData.Processing.Time -> customName != null || hasOwner || createProcessing > 0"]
		#The application mode of the entity list of chunk check:
		#BLACK: Blacklist, only the entities listed will be cleaned up;
		#WHITE: Whitelist, all entities except those listed will be cleaned up.
		#区块检测实体名单应用模式：
		#BLACK：黑名单，仅会清理列表中列出的实体；
		#WHITE：白名单，将会清理列表中未列出的所有实体。
		chunkCheckEntityListMode = "WHITE"
		#Only notice when too many entities in a chunk.
		#区块内实体过多时的是否仅进行提示。
		chunkCheckOnlyNotice = false

	#Catch Entity
	#实体捕获
	[base.catch]
		#The entity that can be captured when cleaned up.
		#清理时允许被捕获的实体。
		catchEntity = []
		#Whether to allow players to use items to capture entities.
		#是否允许玩家使用物品捕获实体。
		allowCatchEntity = false
		#The item used to capture the entity being cleaned up.
		#使用以下物品捕获被清理的实体。
		catchItem = ["minecraft:snowball", "minecraft:glass_bottle", "minecraft:music_disc_13"]

	#Dustbin
	#垃圾箱
	[base.dustbin]
		#The interval of self-cleaning (in milliseconds).
		#自清洁间隔(毫秒)。
		#Range: 0 ~ 604800000
		selfCleanInterval = 3600000
		#The self-cleaning mode of the dustbin.
		#NONE: No self-cleaning mode enabled;
		#SWEEP_CLEAR: Clear the dustbin before sweeping;
		#SWEEP_DELETE: Randomly delete items in the dustbin during sweeping;
		#SCHEDULED_CLEAR: Scheduled clearing of the dustbin;
		#SCHEDULED_DELETE: Scheduled random deletion of items in the dustbin.
		#垃圾箱自清洁模式。
		#NONE：不启用自清洁模式；
		#SWEEP_CLEAR：在扫地前清空垃圾箱；
		#SWEEP_DELETE：在扫地时随机删除垃圾箱内物品；
		#SCHEDULED_CLEAR：定时清空垃圾箱；
		#SCHEDULED_DELETE：定时随机删除垃圾箱内物品。
		selfCleanMode = ["NONE"]
		#The handling method when the dustbin overflows.
		#KEEP: Store to cache and fill in empty space in the dustbin when opening it;
		#REMOVE: Remove the overflowing items;
		#REPLACE: Randomly replace items in the dustbin with overflowing items.
		#垃圾箱溢出时的处理方式。
		#KEEP：储存至缓存，并在打开垃圾箱时填充至垃圾箱的空位；
		#REMOVE：移除溢出物品；
		#REPLACE：将垃圾箱中的物品随机替换为溢出的物品。
		dustbinOverflowMode = "KEEP"
		#Whether to persistently store dustbin items to server files.
		#是否将垃圾箱物品持久化存储至服务器文件。若未启用持久化，服务器关闭后垃圾箱内物品将会丢失。
		dustbinPersistent = true
		#The position of the dustbin block, format: dimension, x, y, z, side
		#dimension: dimension ID, such as minecraft:overworld
		#x, y, z: coordinates
		#side: side of the block, can be empty. optional values: DOWN, UP, NORTH, SOUTH, WEST, EAST
		#垃圾箱方块位置，格式： dimension, x, y, z, side
		#dimension: 维度ID，如minecraft:overworld
		#x, y, z: 坐标
		#side: 方块面，可为空。可选值：DOWN、UP、NORTH、SOUTH、WEST、EAST
		dustbinBlockPositions = []
		#Dustbin Block Application Mode.
		#When using a dustbin block, you may encounter issues such as being unable to open the container via command or unable to empty the dustbin.
		#Please make sure the dustbin block is a valid container.
		#When using the open dustbin command, it will simulate the player right-clicking the center of the specified face of the block.
		#VIRTUAL: Only virtual dustbin;
		#BLOCK: Only dustbin block;
		#VIRTUAL_BLOCK: Virtual dustbin and dustbin block are enabled, and virtual dustbin is preferred;
		#BLOCK_VIRTUAL: Dustbin block and virtual dustbin are enabled, and dustbin block is preferred.
		#垃圾箱方块应用模式。使用垃圾箱方块时，可能会出现无法使用指令打开容器页面、无法清空垃圾箱等情况。请确保垃圾箱方块是正常的容器，使用打开垃圾箱指令时会模拟玩家右键方块指定面的中间。
		#VIRTUAL：仅虚拟垃圾箱；
		#BLOCK：仅垃圾箱方块；
		#VIRTUAL_BLOCK：虚拟垃圾箱和垃圾箱方块同时启用，且优先使用虚拟垃圾箱；
		#BLOCK_VIRTUAL：垃圾箱方块和虚拟垃圾箱同时启用，且优先使用垃圾箱方块。
		dustbinBlockMode = "VIRTUAL"

	#Batch
	#批次
	[base.batch]
		#The maximum number of entities to clean up per tick, prevents server lag caused by removing too many entities at once.
		#每tick清理实体上限，避免单次清理过多实体导致服务器卡顿。
		#Range: > 1
		sweepEntityLimit = 500
		#The interval between sweeps in ticks.
		#每批次清理间隔tick。
		#Range: > 1
		sweepEntityInterval = 2
		#The maximum number of batches per cleanup, prevents excessive batching that could slow down the cleanup process.
		#This setting takes priority over sweepEntityLimit.
		#每次清理的批次上限，避免单次清理分批次过多导致清理过慢，该配置项优先级大于sweepEntityLimit。
		#Range: > 1
		sweepBatchLimit = 10

#Command Permission
#指令权限
[permission]
	#The permission level required to use the 'Set virtual permission' command, and also used as the permission level for modifying server configuration.
	#设置虚拟权限指令所需的权限等级，同时用于控制使用'修改服务器配置指令'的权限。
	#Range: 0 ~ 4
	permissionVirtualOp = 4
	#The permission level required to use the 'Open dustbin' command.
	#打开垃圾箱指令所需的权限等级。
	#Range: 0 ~ 4
	permissionDustbinOpen = 0
	#The permission level required to use the 'Open dustbin for others' command.
	#为他人打开垃圾箱指令所需的权限等级。
	#Range: 0 ~ 4
	permissionDustbinOpenOther = 2
	#The permission level required to use the 'Clear dustbin' command.
	#清空垃圾箱指令所需的权限等级。
	#Range: 0 ~ 4
	permissionDustbinClear = 1
	#The permission level required to use the 'Drop dustbin items' command.
	#将垃圾箱物品掉落到世界指令所需的权限等级。
	#Range: 0 ~ 4
	permissionDustbinDrop = 1
	#The permission level required to use the 'Clear cache' command.
	#清空缓存指令所需的权限等级。
	#Range: 0 ~ 4
	permissionCacheClear = 1
	#The permission level required to use the 'Drop cache items' command.
	#将缓存内物品掉落至世界指令所需的权限等级。
	#Range: 0 ~ 4
	permissionCacheDrop = 1
	#The permission level required to use the 'Trigger sweep' command.
	#触发扫地指令所需的权限等级。
	#Range: 0 ~ 4
	permissionSweep = 0
	#The permission level required to use the 'Clear dropped items' command.
	#清除掉落物指令所需的权限等级。
	#Range: 0 ~ 4
	permissionClearDrop = 1
	#The permission level required to use the 'Delay sweep' command.
	#延迟本次清理指令所需的权限等级。
	#Range: 0 ~ 4
	permissionDelaySweep = 1

